body{

font-family: Arial;
margin:0;
background:#0f172a;
color:white;

}

header{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#020617;

}

nav a{

margin-left:20px;
color:white;
text-decoration:none;

}

.hero{

height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

}

.hero h2{

font-size:48px;

}

.btn{

margin-top:20px;
padding:12px 24px;
background:#38bdf8;
color:black;
text-decoration:none;
border-radius:8px;

}

section{

padding:80px 60px;

}

.projeto{
background:#1e293b;
padding:20px;
border-radius:10px;
margin-top:20px;
}

.projeto-img{

width:400px;
border-radius:10px;

}

.projeto-texto ul{

padding-left:20px;

}

.galeria{

margin-top:40px;
display:flex;
gap:20px;
flex-wrap:wrap;

}

.galeria img{

width:250px;
border-radius:10px;
cursor:pointer;
transition:0.3s;

}

.galeria img:hover{

transform:scale(1.05);

}

.contato-links{

display:flex;
gap:20px;

}

.contato-links a{

background:#1e293b;
padding:12px 20px;
border-radius:8px;
text-decoration:none;
color:white;

}

footer{

text-align:center;
padding:30px;
background:#020617;

}
